:root {
  --cor-primaria: #5b45f5;
  --cor-primaria-hover: #4935d4;

  --cor-fundo: #f7f7f9;
  --cor-card: #ffffff;

  --cor-texto: #18181b;
  --cor-texto-secundario: #71717a;

  --cor-borda: #dedee3;

  --cor-sucesso: #22c55e;
  --cor-erro: #ef4444;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: "Inter", sans-serif;
}

#root {
  width: 100%;
}

button,
input,
select,
textarea {
  font: inherit;
}
